<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>About Me</title>
        
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="Projects">Projects</a></li>
            <li><a href="contact">Contact</a></li>
            
        </ul>
        <h1>Welcome to @ViewBag.Example Portfolio</h1>
        <img src="IMG_0708.JPG" alt="Mountain View" style="width:304px;height:228px;">
        <h2> About Me! </h2>
            <p> Iam a student at coding dojo learning C# which is my last stack.</p>
        
    </body>
</html>