<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>My Projects</title>
        
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="Projects">Projects</a></li>
            <li><a href="contact">Contact</a></li>
            
        </ul>
        <h2> Projects </h2>
            <p> Portfolio </p>
            <p> Dojo Survey </p>
            <p> The Wall </p>
        
    </body>
</html>